<!DOCTYPE HTML>
<html>

  <head>
    <title>Run Google Routes search</title>
  </head>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <body>

    <h1>
      Run Routes Crawl
    </h1>

    <p>
      You'll use source file: <input id="fileName" value="short.csv" placeholder="Enter filename"></input>.
    </p>

    <p>
      This should run based off of packaged routes csv
      <button onclick="runOperation()">
        Run Operation
      </button>
    </p>

    <p>
      The current status is: <span id="status">Not run yet</span>.
    </p>

  </body>

  <script type="text/javascript">
    
    function runOperation() {
      animateStatus();
      var url = 'run/' + $('#fileName').val();
      console.log(url);
      $.ajax({
        url: url
      }).done(function(response) {
        console.log(response);
      });
    };

    function animateStatus() {
      $('#status').text("Running operation");
      var count = 1
      setInterval(function () {
        var dots = Array(count).join(".");
        if (count > 3) {
          count = 1
        } else {
          count += 1
        }
        $('#status').text("Running operation" + dots)
      }, 500)
    };

  </script>

</html>